.form-send {
  display: flex;
  flex-direction: column;
  margin: 10px;

  &__input {
    margin: 5px 0;
    padding: 10px;
    font-size: 13px;
    line-height: 16px;
    color: #222222;
  }

  &__input--text {
    resize: none;
  }

  &__btn {
    padding: 14px 16px;
    margin: 5px 0;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    background-color: white;
    border-radius: 5px;

    &:hover {
      background-color: #0a6d88;
    }
  }
}