.li {
  list-style-type: none;
  position: relative;

  & > a {
    transition: color .3s ease-in-out 0s;
  }

  &:hover > a {
    color: grey;
  }

  &:hover::before {
    visibility: visible;
    width: calc(100% - 20px);
  }
}

.li::before {
  content: '';
  position: absolute;
  width: 0px;
  height: 2px;
  bottom: 0px;
  left: 20px;
  background-color: #d84315;
  visibility: hidden;
  transition: all .3s ease-in-out 0s;
}

.active::before {
  visibility: visible;
  width: calc(100% - 20px);
}